mat-form-field{
    width: 70%;
  }
   
  tr td {
      padding: 50px;
  }
  button {
      width: 200px;
      float: right;
      margin-right: 50px;
  }
  
  h2{
      font-family: 'Roboto Slab', serif;
  }
  label{
     color: rgba(0, 0, 0, 0.705);
   }
   .NoOfSubject{
    width: 50%;

   }
   mat-card{
    height: 410px;
    overflow: auto;
}
.toolBar{
    margin-top: 0;
}
.second{
    margin-left: auto;
}